<!DOCTYPE html>
<html>
  <head>
    <link href="{{url_for('static', filename = 'css/Upload.css')}}" rel="stylesheet">
  </head>
  <body>
    <div>
        <image class="tip-image" src="{{url_for('static', filename = 'img/picker.gif')}}" width="300px"></image>
        <image class="tip-image" src="{{url_for('static', filename = 'img/rect.gif')}}" width="300px"></image>
        <image class="tip-image" src="{{url_for('static', filename = 'img/brush.gif')}}" width="300px"></image>
    </div>
    <br/>
    <a href="#/step1"><button id="startBtn" class="processBtn">Let's start!</button></a>
  </body>
</html>