<!DOCTYPE html>
<html>
  <head>
    <link href="{{url_for('static', filename = 'css/Upload.css')}}" rel="stylesheet" />
    <!-- <script type="text/javascript" src="{{url_for('static', filename = 'js/processor.js')}}"></script> -->
  </head>
  <body id="step3Components">
    <div id="attendingGadgets">
      <li><button id="pickerBtn" class="toolBtn" onClick="pickicker()" disabled=true><i class="fas fa-eye-dropper"></i></button></li>
      <!-- <li><button id="fillBtn" class="toolBtn" onClick="fillill()"><i class="fas fa-fill"></i></button></li> -->
      <li><button id="rect3Btn" class="toolBtn" onClick="rectect()"><i class="fas fa-vector-square"></i></button></li>
      <li><div id="brushsize"><button id="brush3Btn" class="toolBtn">
        <i class="fas fa-paint-brush"></i></button>
        <div id="sizeselector" class="toolBtn">
          <button class="sizeBtn" onClick="brusrush_3(10)"><span class="dot dot10"></span><br>10</button>
          <button class="sizeBtn" onClick="brusrush_3(20)"><span class="dot dot20"></span><br>20</button>
          <button class="sizeBtn" onClick="brusrush_3(25)"><span class="dot dot25"></span><br>25</button>
        </div>
      </div></li>
      <li><button id="undo3Btn" class="toolBtn" onClick="undodo_3()"><i class="fas fa-undo"></i></button></li>
    </div>
    <div id="mapContainer">
      <div id="markContainer"><canvas id="color_layer" width="20" height="20"></canvas></div>
      <div id="palContainer">
        <canvas id="colorpalette" width="100" height="80"></canvas>
        <canvas id="marker_layer" width="100" height="80"></canvas>
        <canvas id="region_layer" width="100" height="80"></canvas>
        <script> tool="picker"; palettesize() </script>
      </div>
    </div>
  </body>
</html>