<!DOCTYPE html>
<html>
  <head>
    <link href="{{url_for('static', filename = 'css/Upload.css')}}" rel="stylesheet" />
  </head>
  <body id="step2Components">
    <div id="maskingGadgets">
      <li><button id="rectBtn" onClick="recrec()" disabled=true><i class="fas fa-vector-square"></i></button></li>
      <li><button id="brushBtn" onClick="brusrush()"><i class="fas fa-paint-brush"></i></button></li>
    </div>
  <script type="text/javascript" src="{{url_for('static', filename = 'js/processor.js')}}"></script>
  </body>
</html>