<!DOCTYPE html>
<html>
  <head>
    <link href="{{url_for('static', filename = 'css/Upload.css')}}" rel="stylesheet">
  </head>
  <body>
    <div>
      <input type="file" name="file" id="userUploadedImage" accept="image/*">
    </div>
    <div id="canvasDiv">
      <canvas id="img_layer" width="560" height="400"></canvas>
      <canvas id="canvas_layer" width="560" height="400"></canvas>
      <canvas id="att_layer" width="560" height="400"></canvas>
      <canvas id="tmp_layer" width="560" height="400"></canvas>
      <canvas id="result_layer" width="560" height="400"></canvas>
    </div>
    <br>
    <button id="convertBtn" class="processBtn" hidden disabled=true onClick=showResult()>Modulate</button>
    <br>
    <button id="prevBtn" class="processBtn" hidden onClick=prev()>Previous step</button>
    <button id="nextBtn" class="processBtn" hidden onClick=next()>Next step</button>
    <button id="restartBtn" class="processBtn" hidden onClick="window.location.href = ''">Start again</button>
  <script type="text/javascript" src="{{url_for('static', filename = 'js/processor.js')}}"></script>
  </body>
</html>