
 .progress {
	 list-style: none;
	 margin: 0;
	 padding: 0;
	 display: table;
	 table-layout: fixed;
	 width: 100%;
	 color: #849397;
}
 .progress > li {
	 position: relative;
	 display: table-cell;
	 text-align: center;
	 font-family: 'Quicksand';
	 font-size: 0.9em;
}
 .progress > li:before {
	 content: attr(data-step);
	 display: block;
	 margin: 0 auto;
	 background: #dfe3e4;
	 width: 3em;
	 height: 3em;
	 text-align: center;
	 margin-bottom: 0.25em;
	 line-height: 3em;
	 border-radius: 100%;
	 position: relative;
	 z-index: 1000;
}
 .progress > li:after {
	 content: '';
	 position: absolute;
	 display: block;
	 background: #dfe3e4;
	 width: 100%;
	 height: 0.5em;
	 top: 1.25em;
	 left: 50%;
	 margin-left: 1.5em \9;
	 z-index: -1;
}
 .progress > li:last-child:after {
	 display: none;
}
 .progress > li.is-complete {
	 color: #e7d1a8;
}
 .progress > li.is-complete:before, .progress > li.is-complete:after {
	 color: #fff;
	 background:  #e7d1a8;
}
 .progress > li.is-active {
	 color: #eba524;
}
 .progress > li.is-active:before {
	 color: #fff;
	 background: #eba524;
}
/** * Needed for IE8 */
 .progress__last:after {
	 display: none !important;
}
/** * Some Generic Stylings */
 *, *:after, *:before {
	 box-sizing: border-box;
}
 h1 {
	 margin-bottom: 1.5em;
}
 .progress {
	 margin-bottom: 3em;
}
 a {
	 color: #eba524;
	 text-decoration: none;
}
 a:hover {
	 text-decoration: underline;
}
 body {
	 text-align: center;
	 color: #444;
}
.container {
	display: flex;
	justify-content: center;
} 
#stepInfo {
	position: relative;
	width: 60%;
	margin: auto;
	font-family: 'Quicksand';
	font-weight: 700;
	text-align: left;
	font-size: 1.2em;
	overflow-wrap: break-word;
}