#startBtn {
    font-weight: 700;
}
#canvasDiv{
    width: 560px;
    height: 400px;
    position: relative;
    text-align: center;
    justify-content: center;
}
#img_layer, #canvas_layer, #att_layer, #tmp_layer, #result_layer {
    position: absolute;
    left: 0;
    right:0;
}
#img_layer{ z-index: 0;}
#canvas_layer{ z-index: 1; }
#att_layer{ z-index: 2; }
#tmp_layer{ z-index: 3; }
#result_layer{ z-index: 4; }

#maskingGadgets {
    list-style-type: none;
}
#attendingGadgets {
    list-style-type: none;
    text-align: left;
}
.processBtn {
	font-family: 'Quicksand';
    font-size: 1.2em;
    padding: 5px 8px 5px 8px;
    margin: 5px;
    border: 2px solid gray;
    border-radius: 8px;
    background-color: white;
}
#convertBtn {
    width: 255px;
    position: relative;
}
.toolBtn {
	font-family: 'Quicksand';
    font-size: 1.2em;
    padding: 5px 8px 5px 8px;
    margin: 3px;
    border: 2px solid gray;
    border-radius: 8px;
    background-color: white;
    text-align: center;
    vertical-align: middle;
}
.pickBtn {
    padding: 7px 8px 7px 8px;
}
.toolBtn:disabled {
    color: white;
    background-color: #555;
}
.pickBtn:disabled img{
    filter: invert(100%);
}
.smPickBtn {
    padding: 6px 7px 6px 7px;
}
#step3Components {
    max-height: 400px;
}
.pickerIcon {
    display: block;
    margin: 0 auto;
}
/* Modulation tooltip */
#containconvert {
    position: relative;
}
#modulate-tooltip {
    display: inline;
    position: absolute;
    margin-left: 3px;
}
#quesBtn {
    font-size: 1.4em;
    color: #eba524;    
}
#moduTip {
    display: none;
    width: 250px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-family: 'Quicksand';
    font-size: 0.7em;
    margin: 3px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 8px;
    z-index: 2;
    padding: 6px;
}
#modulate-tooltip:hover #moduTip {
    display: inline;
}
/* step 3 tooltip */
#tooltip {
    position: relative;
    margin: 5px;
    display: inline;
    justify-content: center;
    text-align: center;
    vertical-align: center;
    font-family: 'quicksand';
}
#infoBtn {
    font-size: 0.8em;
}
#infoBtn i{
    font-size: 1.6em;
    color: #eba524;
}
#tooltip:hover #step3Tip {
    display: block;
}
#step3Tip {
    display: none;
    position: absolute;
    border: 2px solid gray;
    font-family: 'Quicksand';
    font-size: 0.75em;
    margin: 2px;
    margin-left: 30px;
    top: -3px;
    border-radius: 8px;
    background-color: white;
    z-index: 3;
}
#tipContents {
    padding: 5px;
    width: 340px;
}
.table-top {
    vertical-align: top;
}
.tip-image {
    margin-top: 5px;
}
/* brush size selector */
#brushsize {
    position: relative;
}
#sizeselector {
    width: 148px;
    display: none;
    position: absolute;
    border: 2px solid gray;
    font-family: 'Quicksand';
    font-size: 0.5em;
    margin: 2px;
    border-radius: 8px;
    background-color: white;
    z-index: 2;
}
.dot {
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}
.dot10 {
    height: 10px;
    width: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.dot20 {
    height: 20px;
    width: 20px;
}
.dot25 {
    height: 25px;
    width: 25px;
}
.sizeBtn {
    float: left;
    border: none;
    font-family: 'Quicksand';
    font-size: 1.2em;
    border-radius: 8px;
    background-color: white;
    height: 42px;
    width: 42px;
    padding: auto;
}
#sizeselector button:hover {
    background-color: lightgray;
}
#brushsize:hover #sizeselector {
    display: inline;
}

/*color map display */
#mapContainer {
    position: relative;
    margin-top: 30px;
}
#palContainer {
    position: relative;
    margin-left: 5px;
}
#markContainer {
    text-align: left;
    margin-left: 5px;
}
#colorpalette { 
    z-index: 0;
    position: absolute;
    left: 0;
    right: 0;
}
#marker_layer { 
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
}
#region_layer {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
}
#color_layer { z-index:2; }

/* Colormap tooltip */
#colortip {
    position: relative;
    float: left;
    margin: 5px;
    display: inline;
    justify-content: center;
    vertical-align: center;
    font-family: 'Quicksand';
}
#colortip:hover #colmapTip {
    display: block;
}
#colmapTip {
    width: 300px;
    display: none;
    position: absolute;
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-family: 'Quicksand';
    font-size: 0.7em;
    margin: 2px;
    margin-left: 30px;
    border-radius: 8px;
    padding: 5px;
    z-index: 2;
}

/* Step4 */
#downloadGadgets {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.step4Btn {
	font-family: 'Quicksand';
    font-size: 1.2em;
    padding: 5px 8px 5px 8px;
    margin: 5px;
    border: 2px solid gray;
    border-radius: 8px;
    background-color: white;
    width: 100%;
}
#downloadBtn a {
    text-decoration: none;
}