<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
    <title>Attention!</title>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="{{ url_for('static', filename='js/lib/sammy.js') }}"></script>
    <script src="{{ url_for('static', filename='js/router.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </head>
  <body>
    <div><a href="/"><image src="{{url_for('static', filename = 'img/logo.png')}}" width="800px" style ="color:#6b4600"></image></a></div>
    <div style = "width:100%">
        <ol class="progress">
            <li class="is-active" data-step="1">
              Upload an image
            </li>
            <li data-step="2">
              Add mask to image
            </li>
            <li data-step="3">
              See initial result & Modulate attention
            </li>
            <li data-step="4" class="progress__last">
              Download the result!
            </li>
        </ol>
        <div class="container">
          <div id="mainDiv">
              <!--내용-->
          </div>
          <div id="toolBox">
              <!--gadgets-->
          </div>
        </div>
    </div>
  </body>
</html> 
